@import "../../../styles/variables.scss";

.tenant {
    border: 3px solid $green;
    background-color: $white;
    display: grid;
    grid-template-columns: 0.3fr 0.8fr;
    min-height: 12.5rem;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        overflow: hidden;

        >div {
            padding: 1rem;
            height: unset;
        }
    }

    .content {
        border-left: 3px solid $green;


        .heading {
            background-color: $green;
            color: $white;
            padding: 1.5rem;

            h2 {
                margin: 0 0 0.25rem 0;
                font-weight: 600;
                letter-spacing: 0.5px;
                font-size: 1.5rem;
            }

            h3 {
                margin: 0;
                font-weight: 500;
                color: $grey;
                font-size: 1.15rem;
                font-style: italic;
            }
        }

        .info {
            padding: 1.5rem;
            color: $grey;
            background-color: $white;

            .row {
                margin-bottom: 1rem;

                h3 {
                    display: inline-block;
                    border-bottom: 2px solid $green;
                    padding-bottom: 0.1rem;
                    margin: 0 0 0.75rem 0;
                }

                p {
                    margin: 0;
                    text-transform: capitalize;

                    span {
                        color: $green;
                        font-weight: 700;
                        font-size: 1.1rem;
                    }
                }

                &.contact {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .phone {
                        a {
                            display: block;
                        }

                        p {
                            color: $green;
                            font-weight: 500;
                            margin-top: 0.1rem;
                        }
                    }

                    .links {
                        a {
                            margin: 0 0.5rem;
                            color: $grey;

                            i {
                                font-size: 1.2rem;
                            }

                            &:hover {
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;

        .content {
            border: none;
            text-align: center;

            .info {
                .row {
                    &.contact {
                        flex-direction: column;
                        align-items: center;

                        .links {
                            margin-top: 1.25rem;

                            a {
                                margin: 0 0.75rem;

                                i {
                                    font-size: 1.3rem;
                                }

                            }
                        }
                    }


                }

            }
        }


    }
}