@import "../../../styles/variables.scss";

.header {
    position: relative;
    padding: 1rem 0;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                width: 10rem;
            }
        }

        .menu {
            a {
                margin-left: 1rem;
                font-weight: 500;

                &:hover {
                    color: $green;
                }
            }
        }

        >i {
            display: none;
            color: $white;
            font-size: 1.5rem;

            &:hover {
                color: $green;
            }

        }

        .mobileNav {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: $green;
            z-index: 5;
            width: 0;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            transition: 0.3s ease-in-out;

            >i {
                position: absolute;
                top: 0;
                right: 0;
                color: $grey;
                font-size: 1.5rem;
                padding: 1rem;
            }

            .menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 2rem;

                a {
                    margin: 0.5rem 0;
                    font-size: 1.3rem;
                }
            }

            &.open {
                width: 60vw;
            }
        }
    }

    @media screen and (max-width:600px) {
        .nav {
            >.menu {
                display: none;
            }

            >i {
                display: block;
            }

            .mobileNav {
                display: flex;
            }
        }
    }

}